audioread
boto
boto3
botocore
bz2file
certifi
chardet
cycler
decorator
docutils==0.14
enum34
funcsigs
futures
gensim
h5py
idna
jmespath
joblib
Keras==2.1.5
kiwisolver
librosa
llvmlite
matplotlib
nltk
numba
numpy
pandas
pyparsing
python-dateutil
pytz
PyYAML
requests
resampy
s3transfer
scikit-learn
scipy
singledispatch
six
sklearn
smart-open
Theano
urllib3
